<%= simple_form_for block do |f| %>
  <div class="form-group">
    <%= f.input :title, label: t(:caption),
                input_html: { class: 'form-control', required: true,
                              autofocus: true } %>
  </div>

  <%= f.button :submit, t(:submit), class: 'btn btn-default' %>
<% end %>
